<div class="col-sm-8">
  <ul class="list-unstyled">
  <% @tasks.each do |task| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(task.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <% if current_user == task.user %>
        <div>
          <p class="mb-0"><%= link_to task.id, task %> : <%= task.content %></p>
          <p class="mb-0"><%= task.status %></p>
        </div>
        <div>
          <%= link_to "Delete", task, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
        </div>
        <% end %>
      </div>
    </li>
  <% end %>
  <%= paginate @tasks %>
  </ul>
  <% if current_user %>
  <%= link_to '新規タスク作成', new_task_path, class: "btn btn-primary btn-sm" %>
  <% end %>
</div>
